// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-field{
	height: 35px;
	width: 300px;
	border-radius: 5px;
	padding: 3px;
	border: 1px solid black;
	margin: 10px;
	&:focus{
		border: 1px solid blue;
		border-radius: 5px;
	}
}

.btn{
	margin: 5px;
}